<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <img :src="image">
        <p>Cart: <button v-on:click="removeFromCart" >-</button> {{ cart }} <button v-on:click="addToCart">+</button></p>
        <p v-if="inStock">In Stock</p>
        <p v-else>Out of Stock</p>
        <ul>
            <li :style="[styleObject, styleObject2]" v-for="detail in details">{{ detail }}</li>
        </ul>
        <ul style="list-style: none">
            <li v-for="variant in variantsStyle" :style="variant">
            </li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="./main.js"></script>
</body>
</html>